<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/createChallenge.css" />
    <link rel="stylesheet" href="css/indivPost.css" />
    <link rel="stylesheet" href="css/acceptChallenge.css" />

    <script
      src="https://kit.fontawesome.com/761d42c757.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h2>
      <strong>
        <a href="/profile?username=<%=post['player1']%>">
          <%= post["player1"] %>
        </a>
      </strong>
      Is waiting for
      <strong>
        <a href="/profile?username=<%=post['player2']%>"> you </a></strong
      >
      to respond!
    </h2>
    <div class="post-container">
      <div class="post">
        <div class="post-head">
          <% if (post.player1 == user.username || post.player2 == user.username)
          { %>
          <a href="/<%= post['postId'] %>/deletePost" id="delete-btn"
            >Reject and Delete Post</a
          >
          <% } %>
        </div>

        <div class="img-comp-container">
          <div class="img-comp-img img-comp-overlay player1-post">
            <img
              src="<%= post['p1URL'] %>"
              width="450"
              height="600"
              style="object-fit: cover"
            />
          </div>
        </div>
      </div>

      <div class="players">
        <div class="bottomleft">
          <div class="dp-likes">
            <img
              id="displayPicture-playerOne"
              src="mockUser.png"
              alt="display picture"
              width="50px"
              height="50px"
            />
          </div>
        </div>

        <div class="title">
          <p class="text-m">You were challenged to <%= post["category"] %>!</p>
          <p class="text-s">Created: <%= post["createdAt"] %></p>
          <p class="text-s">Title: <%= post["title"] %></p>
          <p class="text-s">Description: <%= post["description"] %></p>

          <p class="text-s">Ends in:</p>
        </div>
      </div>
      <div class="challenge-container">
        <form
          action="/updateP2URL"
          method="POST"
          enctype="multipart/form-data"
          id="updateP2URL"
        >
          <div class="shadow sm:rounded-md sm:overflow-hidden">
            <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
              <div>
                <div
                  class="
                    mt-1
                    flex
                    justify-center
                    px-6
                    pt-5
                    pb-6
                    border-2 border-gray-300 border-dashed
                    rounded-md
                  "
                >
                  <div class="space-y-1 text-center">
                    <input
                      type="hidden"
                      name="postId"
                      value="<%= post.postId %>"
                    />
                    <div class="justify-center flex text-sm text-gray-600">
                      <label for="fileUpload" class="fileUpload">
                        <span>Upload a file</span>
                        <span id="hiddenURL"></span>
                        <span id="fileType"></span>

                        <input
                          id="fileUpload"
                          name="fileUpload"
                          type="file"
                          class="sr-only p2Input"
                          accept="image/gif, image/png, image/jpeg, video/mp4, video/quicktime"
                          onchange="showPreview(event)"
                        />
                      </label>
                      <p class="text-xs text-gray-500">
                        PNG, JPG, or GIF up to 10MB
                      </p>
                      <script>
                        //generates img src for previewing file upload
                        function showPreview(event) {
                          if (event.target.files.length > 0) {
                            if (document.getElementById("previewImage")) {
                                document.getElementById("previewImage").remove()
                            }
                            console.log(event.target.files[0].type)
                            let src = URL.createObjectURL(event.target.files[0]);
                            let node;
                            if(event.target.files[0].type == "video/mp4" || event.target.files[0].type == "video/quicktime" ) {
                                node = document.createElement("video")
                            } else {
                                node = document.createElement("img")
                            }
                            node.setAttribute("id", "previewImage")
                            let previewDiv = document.getElementById("preview")
                            previewDiv.appendChild(node)
                            let preview = document.getElementById("previewImage")
                            preview.src = src;
                            preview.style.height = "600px";
                            preview.style.width = "450px";
                            preview.style.display = "block";
                            preview.style.objectFit = "cover"
                            preview.controls = "controls"
                            preview.muted = "muted"
                            preview.autoplay = "autoplay"
                            preview.loop = "loop"
                        }
                      }
                      </script>
                    </div>
                    <div id="preview">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="bg-blue-500 px-4 py-3 text-center sm:px-6 text-white"
            ></div>
          </div>
        </form>
      </div>
    </div>
    <script defer src="/scripts/accept.js"></script>
  </body>
</html>
