<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/post.css" />
    <script
      src="https://kit.fontawesome.com/761d42c757.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>

    <% let i=0; %> <% for(i=0; i < feedPosts.length; i++) { %>
    <br />
    <div class="title">
      <p class="text-m">
        <strong> <a href="/profile?username=<%=feedPosts[i]['player1']%>">
            <%= feedPosts[i]["player1"] %>
          </a> </strong> challenged <strong> <a href="/profile?username=<%=feedPosts[i]['player2']%>">
            <%= feedPosts[i]["player2"] %>
          </a></strong> to <%= feedPosts[i]["category"] %>!
      </p>
      <p class="text-s">Created: <%= feedPosts[i]["createdAt"] %>
      </p>
      <p class="text-s">Title: <%= feedPosts[i]["title"] %>
      </p>
      <p class="text-s">Description: <%= feedPosts[i]["description"] %>
      </p>
    
      <p class="text-s">Ends in: </p>
    </div>
    <div class="acceptReject-btns">
  
      <a href="accept?postId=<%= feedPosts[i]['postId'] %>" id="acceptBtn">Accept</a>
  
      <a href="/<%= feedPosts[i]['postId'] %>/deletePost" id="rejectBtn">Reject</a>
    </div>
      <% } %>
  </div>
    

      <script>
      /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
      initComparisons();
    </script>

  </body>
  <script defer src="/scripts/post.js"></script>
</html>
