<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/notifications.css" />

    <script
      src="https://kit.fontawesome.com/761d42c757.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <% if(feedPosts.length==0) { %>
    <h1 class="text-XL">You have no challenges to respond to :(</h1>
    <p class="text-m">
      Taunt some of your followers so that they want to challenge you
    </p>
    <% } else { %>

    <h2>Incoming Challenges</h2>
    <% let i=0; %> <% for(i=0; i < feedPosts.length; i++) { %> <% let
    isExpired=false %> <% let now = new Date().getTime(); %> <% let
    countDownDate = new Date(feedPosts[i]["expiry"]).getTime(); %> <% let
    distance = countDownDate - now; %> <% let days = Math.floor(distance / (1000
    * 60 * 60 * 24)); %> <% let hours = Math.floor((distance % (1000 * 60 * 60 *
    24)) / (1000 * 60 * 60)); %> <% let minutes = Math.floor((distance % (1000 *
    60 * 60)) / (1000 * 60)); %> <% let seconds = Math.floor((distance % (1000 *
    60)) / 1000); %> <% if (distance < 0) { %> <% isExpired=true %> <% } %> <%

    <!-- calculate created at time -->
    let createdAtDate = new Date(feedPosts[i]["createdAt"]).getTime(); %> <% let
    createdAtDistance = now - createdAtDate; %> <% let daysCreatedAt =
    Math.floor(createdAtDistance / (1000 * 60 * 60 * 24)); %> <% let
    hoursCreatedAt = Math.floor((createdAtDistance % (1000 * 60 * 60 * 24)) /
    (1000 * 60 * 60)); %> <% let minutesCreatedAt =
    Math.floor((createdAtDistance % (1000 * 60 * 60)) / (1000 * 60)); %> <% let
    secondsCreatedAt = Math.floor((createdAtDistance % (1000 * 60)) / 1000); %>

    <div class="notification">
      <div class="title">
        <p class="text-m-b">
          <a href="/profile?username=<%=feedPosts[i]['player1']%>">
            <%= feedPosts[i]["player1"] %>
          </a>
          challenged you to <%= feedPosts[i]["category"] %>!
        </p>
        <p class="text-s">
          <% if (daysCreatedAt > 31) { %> Created on <%= createdAtDate %> <% }
          else if (daysCreatedAt) { if (daysCreatedAt == 1) { %> Created 1 day
          ago <% } else { %> Created <%= daysCreatedAt %> days ago <% } } else
          if (hoursCreatedAt) { if (hoursCreatedAt == 1) { %> Created an hour
          ago <% } else { %> Created <%= hoursCreatedAt %> hours ago <% } } else
          if (minutesCreatedAt) { if (minutesCreatedAt == 1) { %> Created a
          minutes ago <% } else { %> Created <%= minutesCreatedAt %> minutes ago
          <%} } else { %> Created a minute ago <% } %>
        </p>
        <p class="text-s">Title: <%= feedPosts[i]["title"] %></p>
        <p class="text-s">Description: <%= feedPosts[i]["description"] %></p>

        <p class="text-s">
          <% if (distance < 0) { %> Challenge has ended <% isExpired=true %> <%
          } else { %> <% if (days) { %> ends in: <%= days %> days <% } else if
          (hours) { %> ends in: <%= hours %> hours <% } else if (minutes) { %>
          ends in: <%= minutes %> minutes <% } else { %> ends in: a minute <% }
          %> <% } %>
        </p>
      </div>
      <div class="acceptReject-btns">
        <a href="accept?postId=<%= feedPosts[i]['postId'] %>" id="acceptBtn"
          >View</a
        >

        <a href="/<%= feedPosts[i]['postId'] %>/deletePost" id="rejectBtn"
          >Reject</a
        >
      </div>
      <br />
    </div>
    <% }} %>

    <script>
      /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
      initComparisons();
    </script>
  </body>
  <script defer src="/scripts/post.js"></script>
</html>
