<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/post.css" />
    <script
      src="https://kit.fontawesome.com/761d42c757.js"
      crossorigin="anonymous"
    ></script>

    <script>
      function initComparisons() {
        var x, i;
        /*find all elements with an "overlay" class:*/
        x = document.getElementsByClassName("img-comp-overlay");
        for (i = 0; i < x.length; i++) {
          /*once for each "overlay" element:
                pass the "overlay" element as a parameter when executing the compareImages function:*/
          compareImages(x[i]);
        }
        function compareImages(img) {
          var slider,
            img,
            clicked = 0,
            w,
            h;
          /*get the width and height of the img element*/
          w = img.offsetWidth;
          h = img.offsetHeight;
          /*set the width of the img element to 50%:*/
          img.style.width = w / 2 + "px";
          /*create slider:*/
          slider = document.createElement("DIV");
          slider.setAttribute("class", "img-comp-slider");
          /*insert slider*/
          img.parentElement.insertBefore(slider, img);
          /*position the slider in the middle:*/
          slider.style.top = h / 2 - slider.offsetHeight / 2 + "px";
          slider.style.left = w / 2 - slider.offsetWidth / 2 + "px";
          /*execute a function when the mouse button is pressed:*/
          slider.addEventListener("mousedown", slideReady);
          /*and another function when the mouse button is released:*/
          window.addEventListener("mouseup", slideFinish);
          /*or touched (for touch screens:*/
          slider.addEventListener("touchstart", slideReady);
          /*and released (for touch screens:*/
          window.addEventListener("touchend", slideFinish);
          function slideReady(e) {
            /*prevent any other actions that may occur when moving over the image:*/
            e.preventDefault();
            e.stopPropagation();
            /*the slider is now clicked and ready to move:*/
            clicked = 1;
            /*execute a function when the slider is moved:*/
            window.addEventListener("mousemove", slideMove);
            window.addEventListener("touchmove", slideMove);
          }
          function slideFinish() {
            /*the slider is no longer clicked:*/
            clicked = 0;
          }
          function slideMove(e) {
            e.preventDefault();
            e.stopPropagation();
            var pos;
            /*if the slider is no longer clicked, exit this function:*/
            if (clicked == 0) return false;
            /*get the cursor's x position:*/
            pos = getCursorPos(e);
            /*prevent the slider from being positioned outside the image:*/
            if (pos < 0) pos = 0;
            if (pos > w) pos = w;
            /*execute a function that will resize the overlay image according to the cursor:*/
            slide(pos);
          }
          function getCursorPos(e) {
            var a,
              x = 0;
            e = e || window.event;
            /*get the x positions of the image:*/
            a = img.getBoundingClientRect();
            /*calculate the cursor's x coordinate, relative to the image:*/
            x = e.pageX - a.left;
            /*consider any page scrolling:*/
            x = x - window.pageXOffset;
            return x;
          }
          function slide(x) {
            /*resize the image:*/
            img.style.width = x + "px";
            /*position the slider:*/
            slider.style.left = img.offsetWidth - slider.offsetWidth / 2 + "px";
          }
        }
      }
    </script>
  </head>

  <body>
    <div class="post">
      <div class="img-comp-container">
        <div class="img-comp-img player2-post">
          <img
            src="https://source.unsplash.com/Yyk4OmVJAyE"
            width="450"
            height="600"
          />
          <div class="bottomright">
            <img
              id="displayPicture-playerTwo"
              src="mockUser2.png"
              alt="display picture"
              width="50px"
              height="auto"
            />
          </div>
          <div class="bottomright-heart">
            <p class="">player2</p>
            <i class="far fa-heart"></i>
          </div>
        </div>
        <div class="img-comp-img img-comp-overlay player1-post">
          <img
            src="https://source.unsplash.com/LIEQsu5JuoM"
            width="450"
            height="600"
          />
          <div class="bottomleft">
            <img
              id="displayPicture-playerOne"
              src="mockUser.png"
              alt="display picture"
              width="50px"
              height="auto"
            />
          </div>
          <div class="bottomleft-heart">
            <p class="">player1</p>
            <i class="far fa-heart"></i>
          </div>
        </div>
      </div>
    </div>

    <% let i=0; %> <% for(i=0; i < feedPosts.length; i++) { %>
    <br />
    <div class="post">
      <h1 class="postTitle"><%= feedPosts[i]["title"] %></h1>
      <div class="img-comp-container">
        <div class="img-comp-img player2-post">
          <img
            src="<%= feedPosts[i]['p2Upload']['url'] %>"
            width="450"
            height="600"
          />
          <div class="bottomright">
            <img
              id="displayPicture-playerTwo"
              src="mockUser2.png"
              alt="display picture"
              width="50px"
              height="auto"
            />
          </div>
          <div class="bottomright-heart">
            <p class=""><%= feedPosts[i]["player2"] %></p>
            <i class="far fa-heart"></i>
          </div>
        </div>
        <div class="img-comp-img img-comp-overlay player1-post">
          <img
            src="<%= feedPosts[i]['p1Upload']['url'] %>"
            width="450"
            height="600"
          />
          <div class="bottomleft">
            <img
              id="displayPicture-playerOne"
              src="mockUser.png"
              alt="display picture"
              width="50px"
              height="auto"
            />
          </div>
          <div class="bottomleft-heart">
            <p class=""><%= feedPosts[i]["player1"] %></p>
            <i class="far fa-heart"></i>
          </div>
        </div>
      </div>
    </div>
    <% } %>

    <script>
      /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
      initComparisons();
    </script>
  </body>
</html>

<!-- <div class="post">
    <div id="player1">
        <div id="plaver1-dp">
            <img class="dropbtn" id="displayPicture" src="mockUser.png" alt="display picture" width="40px"
                height="auto">
        </div>
        <div id="player1-image">
            <img src="https://source.unsplash.com/Yyk4OmVJAyE">
        </div>
        <div id="player1-likes">
            <i class="far fa-heart"></i>
        </div>
    </div>
    <div id="player2">
        <div id="plaver2-dp">
            <img class="dropbtn" id="displayPicture" src="mockUser.png" alt="display picture" width="40px"
                height="auto">
        </div>
        <div id="player2-image">
            <img src="https://source.unsplash.com/LIEQsu5JuoM">
        </div>
        <div id="player2-likes">
            <i class="far fa-heart"></i>
        </div>
    </div>
</div> -->
